/* src/Login.css */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    width: 100%;
}

.login-container label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

.login-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    text-align: left;
}

.button-container {
    display: flex;
    gap: 10px;
}

.login-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 10%;
    margin: 5px 0;
}

.login-container button:hover {
    background-color: #003d82;
}

.login-container button[type="button"] {
    background-color: #6c757d;
}

.login-container button[type="button"]:hover {
    background-color: #5a6268;
}

/* Responsive styles for small screens */
@media (max-width: 600px) {
    .login-container {
        width: 90vw;
        padding: 20px;
    }

    .login-container input {
        width: 110%;
    }

    .login-container button {
        width: 20%;
        margin: 5px 0;
    }
}

@media (max-width: 540px) {
    .login-container {
        width: 90vw;
        padding: 20px;
    }

    .login-container input {
        width: 100%;
    }

    .login-container button {
        width: 20%;
        margin: 5px 0;
    }
}

@media (max-width: 500px) {
    .login-container {
        width: 90vw;
        padding: 20px;
    }

    .login-container input {
        width: 110%;
    }

    .login-container button {
        width: 20%;
        margin: 5px 0;
    }
}