/* src/StudentDashboard.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99vw;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.dashboard-container h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #ffffff;
}

.dashboard-container form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    width: 100%;
}

.dashboard-container label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

.dashboard-container input,
.dashboard-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
}

.dashboard-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
}

.button-container {
    display: flex;
    gap: 10px;
}

.dashboard-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 7%;
}

.dashboard-container button:hover {
    background-color: #003d82;
}

.dashboard-container button[type="Logout"] {
    background-color: #dc3545;
}

.dashboard-container button[type="Logout"]:hover {
    background-color: #c82333;
}

/* Additional responsive styles for screens smaller than 912px */
@media (max-width: 912px) {
    .dashboard-container {
        width: 90vw;
        padding: 10px;
    }

    .dashboard-container input,
    .dashboard-container textarea {
        width: 100%;
    }

    .dashboard-container select {
        width: 103%;
    }
}

/* Additional responsive styles for screens smaller than 820px */
@media (max-width: 820px) {
    .dashboard-container {
        width: 70vw;
        padding: 10px;
    }

    .dashboard-container input,
    .dashboard-container textarea {
        width: 100%;
    }

    .dashboard-container select {
        width: 103%;
    }
}

/* Responsive styles for screens smaller than 600px */
@media (max-width: 600px) {
    .dashboard-container {
        width: 90vw;
        padding: 10px;
    }

    .dashboard-container input,
    .dashboard-container textarea {
        width: 105%;
    }

    .dashboard-container select {
        width: 110%;
    }
}

/* Additional responsive styles for screens smaller than 420px */
@media (max-width: 540px) {
    .dashboard-container {
        width: 90vw;
        padding: 10px;
    }

    .dashboard-container input,
    .dashboard-container textarea {
        width: 100%;
    }

    .dashboard-container select {
        width: 104%;
    }
}

/* Additional responsive styles for screens smaller than 420px */
@media (max-width: 430px) {
    .dashboard-container {
        width: 95vw;
        padding: 10px;
    }

    .dashboard-container input,
    .dashboard-container textarea {
        width: 110%;
    }

    .dashboard-container select {
        width: 116%;
    }
}

/* Additional responsive styles for screens smaller than 380px */
@media (max-width: 380px) {
    .dashboard-container {
        width: 95vw;
        padding: 10px;
    }

    .dashboard-container input,
    .dashboard-container textarea {
        width: 110%;
    }

    .dashboard-container select {
        width: 117%;
    }
}

/* Additional responsive styles for screens smaller than 360px */
@media (max-width: 360px) {
    .dashboard-container {
        width: 95vw;
        padding: 10px;
    }

    .dashboard-container input,
    .dashboard-container textarea {
        width: 110%;
    }

    .dashboard-container select {
        width: 117%;
    }
}